@import 'tailwindcss';

:root {
  --background: #fafafa;
  --foreground: #27272a;

  --muted: #f4f4f5;
  --muted-foreground: #71717a;

  --accent: #b38e00;
  --border: #e4e4e7;

  --radius: 0.5rem;
}

.dark {
  --background: #18181b;
  --foreground: #e4e4e7;

  --muted: #27272a;
  --muted-foreground: #a1a1aa;

  --accent: #b38e00;
  --border: #27272a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-border: var(--border);

  --font-sans: var(--font-koho);

  --radius-sm: calc(var(--radius) - 0.25rem);
  --redius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 0.25rem);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground selection:bg-foreground/20 transition-colors duration-700 ease-in-out;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@layer components {
  .slide-container {
    @apply relative flex h-full w-full flex-col items-end overflow-hidden px-6 pt-[15svh] pb-6 text-right;
    @apply sm:px-20;
    @apply lg:px-12 lg:pt-[25vh] lg:pb-12;
    @apply xl:px-24 xl:pt-[25vh] xl:pb-24;
  }

  .slide-content-wrapper {
    @apply relative z-10 flex flex-col items-end lg:origin-right lg:scale-100 xl:scale-110;
  }

  .slide-eyebrow {
    @apply text-accent mb-4 flex items-center justify-end gap-2 text-xs font-bold tracking-widest uppercase;
  }

  .cursor-blink {
    @apply bg-accent inline-block h-3 w-0.75;
  }
}
